# PRIVATE KEYS
PRIVATE_KEY = 

# MAINNET FORK TEST
FORK_RPC_URL =
FORK_BLOCK_NUMBER =

# RPC URLS
ETH_RPC_URL =
BSC_RPC_URL =
OPBNB_RPC_URL =
ARBITRUM_RPC_URL =
BASE_RPC_URL =
POLYGON_RPC_URL =
AVALANCHE_RPC_URL =
OPTIMISM_RPC_URL =
MANTLE_RPC_URL =
XLAYER_RPC_URL =
CORE_RPC_URL =
IMMUTABLE_RPC_URL =
BERA_RPC_URL =
SONIC_RPC_URL =
BLAZE_RPC_URL =
MANTA_RPC_URL =
KAIA_RPC_URL =
BLAST_RPC_URL =
RONIN_RPC_URL =
CELO_RPC_URL =